.GeoJsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}
.ipForm h1{
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #00245e;
 }
.ipForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.ipForm label {
  display: block;
  margin-bottom: 10px;
}

.ipForm input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.ipForm button {
  background-color: blue;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.ipForm button:hover {
  background-color: darkblue;
}

.saveIp.button, .getIps.button {
  background-color: blue;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.saveIp.button:hover, .getIps.button:hover {
  background-color: darkblue;
}

.tableInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.table-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.ipForm.submitted button {
  margin-top: 0;
}
